[submodule ".vim/bundle/vim-colors-solarized"]
    path = .vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-json"]
    path = .vim/bundle/vim-json
    url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "git-hooks"]
	path = git-hooks
	url = https://github.com/icefox/git-hooks
