[user]
    email = bleshik@gmail.com
    name = Alexey Balchunas
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    d = difftool
[difftool "Kaleidoscope"]                                                       
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]                                                      
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true                                            
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    autocrlf = input
[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[mergetool "vimdiff"]
	cmd = vim -c \"/\\(<<<<<<<\\|=======\\|>>>>>>>\\).*\" \"$MERGED\"
