[user]
    email = bleshik@gmail.com
    name = Alexey Balchunas
[alias]
    recent-branches = for-each-ref --sort=-committerdate --count=20 --format='%(refname:short)' refs/heads/
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    d = difftool
    gb = !git --no-pager log --format=\"%H\" --decorate --all --grep="$1" | xargs -I {} sh -c \"git branch --contains {}| paste -sd ',' - && git --no-pager log --oneline --decorate {}^..{}\"
    ro = !git clean -f */*.orig
    my = log -n 1000 --all --author=Alexey
[difftool "Kaleidoscope"]                                                       
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]                                                      
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true                                            
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    autocrlf = input
[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[mergetool "vimdiff"]
    cmd = vim -c \"/\\(<<<<<<<\\|=======\\|>>>>>>>\\).*\" \"$MERGED\"
[help]
	autocorrect = 5
[http]
	postBuffer = 524288000
[pack]
	windowMemory = 32m
[rerere]
	enabled = 1
	autoupdate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
